body {
    font-family: 'Berkshire Swash', cursive;
     background-image: url(../images/background.jpg) 
}

h1 {
    font-family: 'Tangerine', cursive;
}

.container {
    margin: auto;
    height: 100%;
    width: 100%;
}
.containerScreen {
    margin: auto;
    width: 100%;
}

.block {
    display: block;
    align-content: center;
    text-align: center;
    margin: 20px auto;
}

#gameArea {
    color: #C6480E;
    font-size: 70px;
    background: black;
    height: 974px;
    width: 50%;
    text-align: center;
    margin: auto;
}

#startBtn {
    background-color: #C6480E;
    border: 2px #C27527 solid;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    font-family: 'Berkshire Swash', cursive;
    font-size: .3em;
    transition: .5s ease;
    margin-top: 440px;
}

#startBtn:hover {
    background-color: #C6480E;
    box-shadow: inset 0 0 10px #570706;
    border: 2px #C27527 solid;
    height: 50px;
    width: 300px;
    font-size: .32em;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #C6480E, 0 0 5px #570706;
    transition: .5s ease;
    margin-top: 440px;
}

#questionScreen {
    font-size: 35px;
    color: #f9b330;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}
#questionList {
    align-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 275px
}

.questionBtn {
    background-color: #C6480E;
    border: 2px #C27527 solid;
    border-radius: 100px;
    height: 50px;
    width: 300px;
    transition: .2s ease;
    font-family: 'Berkshire Swash', cursive;
    font-size: .5em;
}

.questionBtn:hover {
    background-color: #C6480E;
    box-shadow: inset 0 0 10px #570706;
    border: 2px #C27527 solid;
    height: 50px;
    width: 300px;
    font-size: .32em;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #C6480E, 0 0 5px #570706;
    transition: .2s ease;
    font-family: 'Berkshire Swash', cursive;
    font-size: .52em;
}

.timeRemain {
    color: #570706;
}

#correctScreen {
    margin: auto;
}

#nextBtn {
    background-color: #C6480E;
    border: 2px #C27527 solid;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    font-family: 'Berkshire Swash', cursive;
    font-size: .3em;
    transition: .5s ease;
    margin-top: 215px;
}

#nextBtn:hover {
    background-color: #C6480E;
    box-shadow: inset 0 0 10px #570706;
    border: 2px #C27527 solid;
    height: 50px;
    width: 300px;
    font-size: .32em;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #C6480E, 0 0 5px #570706;
    transition: .5s ease;
    margin-top: 215px;
}
#restartBtn {
    background-color: #C6480E;
    border: 2px #C27527 solid;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    font-family: 'Berkshire Swash', cursive;
    font-size: .3em;
    transition: .5s ease;
    margin-top: 0px;
}

#restartBtn:hover {
    background-color: #C6480E;
    box-shadow: inset 0 0 10px #570706;
    border: 2px #C27527 solid;
    height: 50px;
    width: 300px;
    font-size: .32em;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #C6480E, 0 0 5px #570706;
    transition: .5s ease;
    margin-top: 0px;
}

#scoreDisplay {
    background-color: #C6480E;
    border: 2px #C27527 solid;
    border-radius: 10px;
    margin: 150px auto 0px auto;
    width: 400px;
    font-family: 'Berkshire Swash', cursive;
    font-size: .7em;
    color: black;
}

#endScreen {
    margin: auto;
}

.gold-text {
    color: #f9b330;
    background-color: #C6480E;
    border: 2px #C27527 solid;
    border-radius: 10px;
    margin: 150px auto 0px auto;
    width: 400px;
    font-family: 'Berkshire Swash', cursive;
    font-size: .7em;
}